@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'unisans-heavy-italic';
  src: url('../public/fonts/uni-sans/Uni\ Sans\ Heavy\ Italic.otf');
}
@font-face {
  font-family: 'unisans-heavy';
  src: url('../public/fonts/uni-sans/Uni\ Sans\ Heavy.otf');
}
@font-face {
  font-family: 'unisans-thin-italic';
  src: url('../public/fonts/uni-sans/Uni\ Sans\ Thin\ Italic.otf');
}
@font-face {
  font-family: 'unisans-thin';
  src: url('../public/fonts/uni-sans/Uni\ Sans\ Thin.otf');
}
